.modal
{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50% );
	width: 70vw;
	height: 92vh;
	max-width: 1200px;
    max-height: 1000px;
	background-color: #ffffff;
	z-index: 999;
	border-radius: 2rem;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-timing-function: linear;
	animation-duration: 0.3s;
}

.overlay
{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.7);
}

.modal .exit-modal
{
	display: block;
	background: none;
	border: none;
    font-size: 1.7rem;
    margin: 0.8rem;
}

.modal .exit-modal:focus
{
	outline: none;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}