.sidebar
{
	width: 20%;
	background-color: var(--sidebar-bg-color);
	min-height: 68vh;
    max-height: 68vh;
	padding: 2vmin 0;
	color: var(--primary-color);
	overflow: auto;
}

.sidebar .folder, .sidebar .file
{
	padding-left: 2vmin;
}

.sidebar .folder
{
	width: 100%;
	align-items: center;
}

.sidebar .folder .info, .sidebar .file
{
	display: flex;
    align-items: center;
	cursor: pointer;
}

.sidebar .folder .info .logo, .sidebar .file .logo
{
	width: 4vmin;
	display: inline-block;
}

.sidebar .folder .info .logo img, .sidebar .file .logo img
{
	width: 100%;
}

.sidebar .folder .info .name, .sidebar .folder .info .arrow
{
	display: inline-block;
}

.sidebar .folder .info .name, .sidebar .file .name
{
	margin: 0 1vmin;
}

.sidebar .folder .info .arrow
{
	padding-right: 1vmin;
	width: 2vmin;
}


.sidebar .folder .info .arrow img
{
	width: 100%;
	transition: 0.3s;
}

.sidebar .folder .info .arrow .rotate
{
	transform: rotate( -45deg );
}
