.sidebar
{
	width: 30%;
}

.sidebar .folder, .sidebar .file
{
	padding-left: 2vmin;
}

.sidebar .folder
{
	width: 100%;
	align-items: center;
}

.sidebar .folder .info, .sidebar .file
{
	display: flex;
    align-items: center;
}

.sidebar .folder .info .logo, .sidebar .file .logo
{
	width: 8%;
	display: inline-block;
}

.sidebar .folder .info .logo img, .sidebar .file .logo img
{
	width: 100%;
}

.sidebar .folder .info .name, .sidebar .folder .info .arrow
{
	display: inline-block;
}

.sidebar .folder .info .name, .sidebar .file .name
{
	margin: 0 1vmin;
}