
.folder, .file
{
	padding-left: 2vmin;
}

.folder
{
	width: 100%;
	align-items: center;
}

.folder .info, .file
{
	display: flex;
    align-items: center;
}

.folder .info .logo, .file .logo
{
	width: 5%;
	display: inline-block;
}

.folder .info .logo img, .file .logo img
{
	width: 100%;
}

.folder .info .name, .folder .info .arrow
{
	display: inline-block;
}

.folder .info .name, .file .name
{
	margin: 0 1vmin;
}