:root
{
	--primary-color: #394B55;
    --secondary-color: #546C78;
    --sidebar-bg-color: #E1E9EC;
    --folder-content-bg-color: #F6F8F3;
}
html
{
	box-sizing: border-box;
}

body
{
	padding: 0;
	margin: 0;
}

.App
{
	height: 100vh;
    display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: linear-gradient( 180deg, var(--primary-color),#000);
}

.file-manager
{
	width: 90%;
    height: 90vh;
	background-color: #fff;
	margin: 2vmin auto;
	box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    border-radius: 1vmin;
	overflow: hidden;
}

.container
{
    display: flex;
}

.hidden
{
	display: none;
}

.folder .name, .file .name
{
    word-wrap: break-word;
    width: 14vmin;
    text-align: center;
    font-size: 2.5vmin;
}

.btn
{
    background-color: var(--sidebar-bg-color);
    color: var(--primary-color);
    font-weight: bold;
    padding: 2vmin 5vmin;
    border: none;
    border-radius: 1vmin;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.btn:focus
{
    outline: none;
}